@font-face {
  font-family: 'Mukta';
  src: url('Mukta-Regular.ttf') format('truetype');
}

html, body {
	height: 100%;
	font-family: "Mukta";
}

#wrapper {
	font-size: 18pt;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: -50px;
	max-width: 1000px;
	height: 100%;
}

#header {
	display: flex;
	color: rgb(79, 79, 79);
	height: 80px;
}


#content {
	/* https://css-tricks.com/couple-takes-sticky-footer/#there-is-calc-reduced-height-wrappers */
	min-height: calc(100vh - 80px - 30px);
}


#footer {
	text-align: center;
	width: 100%;
	height: 30px;
	color: rgb(79, 79, 79);
}


#title {
	font-size: 28pt;
	flex-grow: 1;
	font-weight: bold;
}

#nav {
	flex-grow: 1;
	justify-content: right;
	display: flex
}

#posts {
	margin-right: 5%;
}


a {
	color:inherit;
	text-decoration: none;
}

h3 {
	margin-bottom: 0px;
}

#date {
	margin-top: 0px;
	font-size: 16pt;
	color: rgb(79, 79, 79);
}

code {
	font-size: 16pt;
}

img {
	display: block;
	margin: auto;
}
