{% extends "layout.html.j2" %}

{% block content %}
  {% for post in posts %}
	<article id="post">
	  <a href="{{ posts_dir + "/" + post.file_name }}">{{ post.title }}</a>
	</article>
  {% endfor %}
{% endblock %}
